on:
  push:
    paths:
      - "2021/**"
name: 2021

defaults:
  run:
    working-directory: 2021/

jobs:
  haskell:
    strategy:
      matrix:
        day:
          - Day1
          - Day2
          - Day3
          - Day4
          - Day5
          - Day6
          - Day7
    name: Run Haskell Executable
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: haskell/actions/setup@v1
        with:
          ghc-version: "9.2.1"
          cabal-version: "3.6.0.0"
          enable-stack: true
          stack-version: "2.7.3"
      - name: run ${{ matrix.day }}
        run: stack run ${{ matrix.day }}
