[Unit]
Description=Docker Radarr service
After=docker.service
Requires=docker.service

[Service]
User=radarr
StandardInput=tty-force
TimeoutStartSec=0
Restart=always
RestartSec=10
ExecStartPre=/usr/bin/docker pull linuxserver/radarr
ExecStart=/usr/bin/docker run \
  --rm \
  --name %n \
  -e TZ=US/Pacific \
  -e PUID=1000 \
  -e PGID=1000 \
  --mount type=bind,source=/home/radarr/config,target=/config \
  --mount type=bind,source=/storage/syncthing/Torrents/,target=/downloads \
  --mount type=bind,source=/storage/media/movies,target=/movies \
  -p 7878:7878 \
  linuxserver/radarr
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=default.target