{
  "plugins": [
    "react",
    "react-native"
  ],
  "parser": "babel-eslint",
  "extends": [
    "plugin:react/recommended",
    "plugin:react-native/all",
    "semistandard"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
