DATABASE_URL=file:./data/sentinel.db
ANTHROPIC_API_KEY=op://v64ocnykdqju4ui6j6pua56xw4/xjneyr3nt56u5li4anhbglnbr4/s3sub3k5jg5xvns4ne7kazjhxe
DISCORD_TOKEN=op://v64ocnykdqju4ui6j6pua56xw4/xjneyr3nt56u5li4anhbglnbr4/7vpatht4dlns6wufpbrk4f3h4i
DISCORD_CHANNEL_ID=op://v64ocnykdqju4ui6j6pua56xw4/xjneyr3nt56u5li4anhbglnbr4/eqrgmdav7gwtkvoiqtvfbuj6uq
DISCORD_GUILD_ID=op://v64ocnykdqju4ui6j6pua56xw4/xjneyr3nt56u5li4anhbglnbr4/fv2qprzcsvjtznifzo3e62wkhi
GITHUB_WEBHOOK_SECRET=op://v64ocnykdqju4ui6j6pua56xw4/xjneyr3nt56u5li4anhbglnbr4/5cxjgkjwlzkdagfbeqwng7civ4
BUGSINK_WEBHOOK_SECRET=op://v64ocnykdqju4ui6j6pua56xw4/xjneyr3nt56u5li4anhbglnbr4/tt7ysuscl2fotgayf4pkjyoy2a
BUILDKITE_WEBHOOK_TOKEN=op://v64ocnykdqju4ui6j6pua56xw4/xjneyr3nt56u5li4anhbglnbr4/qxioiihwucfvsljcddhovtliia
SENTRY_ENABLED=false
TELEMETRY_ENABLED=false
LOG_LEVEL=debug
