<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Raspastat</title>

    <meta charset="UTF-8">
    <meta name="description" content="Web interface for raspastat-core">
    <meta name="author" content="Jerred Shepherd">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="https://use.fontawesome.com/efa3dc6def.js"></script>
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>

    <script src="/js/ui/index.jsx" type="text/babel"></script>
    <script src="/js/main.js"></script>
    <script src="/js/graph.js"></script>
</head>

<body>
<div class="pure-g">
    <div id="content"></div>
</div>
</body>

</html>