.p-body {
  background: #17272c;
}
.stormWelcome img,
.p-header-logo img,
.p-nav-smallLogo img {
  filter: drop-shadow(0 0 2px #f1f5f4);
}
.p-header {
  background: #142329;
  color: #d5e8e5;
}
.p-nav {
  background: #20343a;
  color: #d5e8e5;
}
.block-container {
  background: #20343a;
  border-color: #365158;
  color: #e1ecea;
}
