.p-body {
  background: #f1f5f4;
}
.p-header {
  background: #fff;
  color: #294d50;
}
.p-nav {
  background: #e5eeee;
  color: #294d50;
}
.block-container {
  background: #fff;
  border-color: #d9e4e2;
}
