<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Rural Sourcing Inc.</title>

    <meta charset="UTF-8">
    <meta name="description" content="Site for the RSI Hackathon">
    <meta name="author" content="Jerred Shepherd">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="https://use.fontawesome.com/efa3dc6def.js"></script>

    <script src="/js/nav.js"></script>
</head>

<body>
<div class="content">
    <div class="pure-g">
        <nav class="navbar collapsed" id="navbar">
            <div class="pure-u-md-2-5 pure-u-1">
                <div class="title" id="navTitle"><a>Rural Sourcing Inc.</a></div>
            </div>
            <div class="pure-u-md-3-5 pure-u-1">
                <div class="navbar-right">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/company">Company</a></li>
                        <li><a href="/management">Management</a></li>
                        <li><a href="/employment">Employment</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="page-content">
        <div class="pure-g">
            <div class="pure-u-1-5"></div>
            <div class="pure-u-3-5">
                <h1>Rural Sourcing Model</h1>
                <p>Offshore outsourcing models have proven that information technology service providers can produce
                    results
                    regardless of their location. RSI is using that same model for information technology services and
                    support
                    in rural America.
                </p>

                <h1>Company Profile</h1>
                <ul>
                    <li>Founded in 2003</li>
                    <li>Professionally Managed Centers</li>
                    <li>Non-Metro US Regional Locations</li>
                    <li>Business Processes and IT Expertise</li>
                    <li>Accessible Locations and Tailored Services</li>
                    <li>Onsite and Offsite Resources</li>
                </ul>

                <h1>Rural Sourcing Commitment To</h1>
                <p>
                    Employing a talented IT workforce in underserved regions, funding and training for long-term
                    business
                    sustainability, investing in the regions in which we operate, but most of all, delighting our
                    customers with
                    high quality IT solutions.
                </p>

                <h1>Our software / System</h1>
                <ul>
                    <li>Internet Technologies (HTML/XML/ASP/JSP/PHP/Perl)</li>
                    <li>J2EE/Java Technologies</li>
                    <li>.NET (VB, ASP, C#)</li>
                    <li>ColdFusion (Macromedia)</li>
                    <li>Websphere</li>
                    <li>Windows/Unix/Linux</li>
                    <li>Database Services (Oracle, SQL Server, & Others)</li>
                </ul>
                <h1>Our Services</h1>
                <ul>
                    <li>Design/Development</li>
                    <li>Integration</li>
                    <li>Maintenance</li>
                    <li>Support</li>
                    <li>Testing</li>
                    <li>Data Migration</li>
                    <li>Data Conversion</li>
                    <li>Project Management</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>

</html>