<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Rural Sourcing Inc.</title>

    <meta charset="UTF-8">
    <meta name="description" content="Site for the RSI Hackathon">
    <meta name="author" content="Jerred Shepherd">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="https://use.fontawesome.com/efa3dc6def.js"></script>

    <script src="/js/nav.js"></script>
</head>

<body>
<div class="content">
    <div class="pure-g">
        <nav class="navbar collapsed" id="navbar">
            <div class="pure-u-md-2-5 pure-u-1">
                <div class="title" id="navTitle"><a>Rural Sourcing Inc.</a></div>
            </div>
            <div class="pure-u-md-3-5 pure-u-1">
                <div class="navbar-right">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/company">Company</a></li>
                        <li><a href="/management">Management</a></li>
                        <li><a href="/employment">Employment</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="page-content">
        <div class="pure-g">
            <div class="pure-u-1-5"></div>
            <div class="pure-u-3-5">
                <p>
                    Join our Team Today!
                    Work in a Fun, Flexible Work Environment that Provides...
                </p>
                <p>
                    Specialized Technology Training
                    Variety of Technology Projects
                    Client Interaction
                    Benefits, Bonuses and Profit Sharing
                </p>

                <h2>Our Employees Say...</h2>
                <p>
                    I'm Valued
                    ...I Provide Input
                    ...I Count
                    <br><br>
                </p>
                <h2>Immediate Openings!</h2>
                <h3>In All Locations, for Skills In...</h3>
                <ul>
                    <li>J2EE, JSP,</li>
                    <li>.NET, C++,</li>
                    <li>ColdFusion,</li>
                    <li>Oracle, SQL Server</li>
                </ul>
                <br>
                <form method='post' enctype='multipart/form-data' action="/resumeUpload">
                    <input type='file' name='uploaded_file'>
                    <button>Upload resume (pdf)</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>