<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Rural Sourcing Inc.</title>

    <meta charset="UTF-8">
    <meta name="description" content="Site for the RSI Hackathon">
    <meta name="author" content="Jerred Shepherd">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="https://use.fontawesome.com/efa3dc6def.js"></script>

    <script src="/js/nav.js"></script>
</head>

<body>
<div class="content">
    <div class="pure-g">
        <nav class="navbar collapsed" id="navbar">
            <div class="pure-u-md-2-5 pure-u-1">
                <div class="title" id="navTitle"><a>Rural Sourcing Inc.</a></div>
            </div>
            <div class="pure-u-md-3-5 pure-u-1">
                <div class="navbar-right">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/company">Company</a></li>
                        <li><a href="/management">Management</a></li>
                        <li><a href="/employment">Employment</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="page-content">
        <div class="home-feature">
            <div class="pure-u-1-5">

            </div>
            <div class="pure-u-1 pure-u-md-3-5">
                <img src="img/rsi.png">
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1-8">
            </div>
            <div class="pure-u-3-4 pure-u-md-3-4">
                <p>
                    Rural Sourcing Inc. offers low-cost, high quality information technology services at 30%-50% cost
                    saving
                    while supporting Regional Economic Development. The well-known Management team brings experience
                    from
                    Fortune 500 Companies and has established a reputation for Customer Service and Results.
<br><br>
                    Our convenient locations allow us to work closely with you, yet offer competitive rates with
                    offshore
                    sourcing firms. Contact us today at inquiry@ruralsource.com to find out more about our technology
                    capabilities and our current center locations and expansion plans.
                </p>
            </div>
        </div>
    </div>
</div>
</body>

</html>