<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Rural Sourcing Inc.</title>

    <meta charset="UTF-8">
    <meta name="description" content="Site for the RSI Hackathon">
    <meta name="author" content="Jerred Shepherd">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="https://use.fontawesome.com/efa3dc6def.js"></script>

    <script src="/js/nav.js"></script>

</head>

<body>
<div class="content">
    <div class="pure-g">
        <nav class="navbar collapsed" id="navbar">
            <div class="pure-u-md-2-5 pure-u-1">
                <div class="title" id="navTitle"><a>Rural Sourcing Inc.</a></div>
            </div>
            <div class="pure-u-md-3-5 pure-u-1">
                <div class="navbar-right">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/company">Company</a></li>
                        <li><a href="/management">Management</a></li>
                        <li><a href="/employment">Employment</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="page-content management">
        <div class="pure-g">
            <div class="pure-u-1-5"></div>
            <div class="pure-u-3-5">
                <div class="pure-g list">
                    <div class="pure-u-1 pure-u-md-1-3" id="ken">
                        <img src="img/employees/ken.png">
                        <h1>Ken Yorgensen</h1>
                        <h2>Senior Vice-President, Technology</h2>
                    </div>
                    <div class="pure-u-1 pure-u-md-1-3" id="kathy">
                        <img src="img/employees/kathy.png">
                        <h1>Kathy White</h1>
                        <h2>Founder and President</h2>
                    </div>
                    <div class="pure-u-1 pure-u-md-1-3" id="stacy">
                        <img src="img/employees/stacy.png">
                        <h1>Stacy Navarro</h1>
                        <h2>Vice President, Human Resources</h2>
                    </div>
                    <div class="pure-u-1 pure-u-md-1-4" id="henry">
                        <img src="img/employees/henry.png">
                        <h1>Henry Torres</h1>
                        <h2>Director, Business Development</h2>
                    </div>
                    <div class="pure-u-1 pure-u-md-1-4" id="pennie">
                        <img src="img/employees/pennie.png">
                        <h1>Pennie R. Hill</h1>
                        <h2>Director, Finance</h2>
                    </div>
                    <div class="pure-u-1 pure-u-md-1-4" id="james">
                        <img src="img/employees/james.png">
                        <h1>James Glenn</h1>
                        <h2>Manager of Operations, Greenville NC</h2>
                    </div>
                    <div class="pure-u-1 pure-u-md-1-4" id="lindal">
                        <img src="img/employees/lindal.png">
                        <h1>Lindal Cossey</h1>
                        <h2>Manager of Operations, Jonesboro AR</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>